{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Globaltec UAUWeb API v1.0",
    "description": "Esta é a lista dos métodos homologados para integração do UAU"
  },
  "host": "gamma-api.seniorcloud.com.br:50810",
  "basePath": "/uauAPI",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/v{version}/AcompanhamentoContratoVenda/GravarAcompanhamento": {
      "post": {
        "tags": [
          "AcompanhamentoContratoVenda"
        ],
        "summary": "Método responsável por gravar o acompanhamento de contrato de vendas",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n3. Retorna json com as informações de empresa, obra, número do contrato e número do acompanhamento.\r\n\r\nDefinição de Negócio:\r\n1. Permite inserir ou alterar um acompanhamento de contrato de venda. \r\n2. O usuário autenticado deve ter permissão de inclusão ou alteração em OBACOMPVENDA, a depender do objetivo (inserir ou editar acompanhamento).\r\n3. O sistema identifica que é uma edição no acompanhamento quando a propriedade [NumAcompanhamento] está preenchida. Em caso de não informação deste campo, será gravado um novo acompanhamento.\r\n4. O usuário autenticado deve ter permissão de inclusão em OBMEDICAOVENDA.\r\n5. Em caso de manutenção de um acompanhamento, as informações serão sobrescritas e as quantidades \"Qtde medida\" e \"Qtde falta medir\" calculadas a partir da propriedade [QtdeAMedir] informada.",
        "operationId": "AcompanhamentoContratoVenda_GravarAcompanhamento",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Confira o exemplo de JSON acima",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentoContratoVenda.AcompanhamentoContratoVendaRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentoContratoVenda.AcompanhamentoContratoVendaResponse"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharContrato": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Grava o acompanhamento de contrato vinculado a um planejamento ou orçamento",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nGrava o acompanhamento de contrato vinculado a um planejamento ou orçamento\r\n1. Informar os parâmetros dependendo do vinculo com orçamento ou planejamento",
        "operationId": "AcompanhamentosServicos_AcompanharContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharContratoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhamento de contratos da obra.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharServicoPL": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhamento de Serviços do planejamento.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio: \r\nAcompanhar serviço do planejamento solicitado.\r\n1. Valida se o usuário está cadastrado no sistema e ativo.\r\n2. Valida se já existe acompanhamento para o código externo de integração solicitado.\r\n3. Verifica se o fechamento do acompanhamento não foi realizado.",
        "operationId": "AcompanhamentosServicos_AcompanharServicoPL",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoPLRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharServicoOrcado": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar serviços de orçamento.",
        "description": "Definição técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de negócio:\r\nPermite consultar e portanto acompanhar os serviços que foram orçados de acordo com os parâmentros passados na requisição.\r\n1. Deve montar uma estrutura seguindo o modelo.\r\n2. Valida se o usuário está cadastrado.\r\n3. Valida se o serviço não possui estruturas.\r\n4. Valida se possui distribuição no periodo acompanhado.\r\n5. Valida o saldo do orçamento que será acompanhado.",
        "operationId": "AcompanhamentosServicos_AcompanharServicoOrcado",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros de request da classe AcompanharServicoOrcadoRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoOrcadoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhamento de serviços de orçamento.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharServicoContrato": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar serviços de contrato.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método do acordo com o modelo.\r\n\r\nDefinição de Negócio:\r\nPermite consultar e portanto acompanhar serviços referentes aos contratos.\r\n1. Valida usuário.\r\n2. Valida prazo de validade do contrato.",
        "operationId": "AcompanhamentosServicos_AcompanharServicoContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros de request da classe AcompanharServicoContratoRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoContratoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhamento de serviços de contrato.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharServicoOrcadoEmLote": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar vários serviços do orçamento.",
        "description": "Definição técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nAcompanhar vários serviços do orçamento.",
        "operationId": "AcompanhamentosServicos_AcompanharServicoOrcadoEmLote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros de request da classe AcompanharServicoOrcadoEmLoteRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoOrcadoEmLoteRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhamento de serviços de orçamento.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoPL": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de Serviços do planejamento.",
        "description": "Definição Técnica:\r\nPermite excluir acompanhamento de Serviços do planejamento.\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio: \r\nAcompanhar serviço do planejamento solicitado.\r\n1. Valida se existe acompanhamento para o código informado.\r\n2. Valida se existe acompanhamento para o registro informado.\r\n3. Valida se o acompanhamento se encontra aberto.\r\n4. Valida a quantidade informada para exclusão.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoPL",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoPLRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de Serviços do planejamento da obra.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AcompanharServicoContratoEmLote": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar vários serviços do contrato.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método do acordo com o modelo.\r\n\r\nDefinição de Negócio:\r\nPermite acompanhar vários serviços referentes ao contrato.\r\n1. Valida usuário.\r\n2. Valida prazo de validade do contrato.",
        "operationId": "AcompanhamentosServicos_AcompanharServicoContratoEmLote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros de request da classe AcompanharServicoContratoRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoContratoEmLoteRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhamento de serviços de contrato.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoOrcado": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de serviço orçado.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nPermite excluir acompanhamento de serviço orçado.\r\n1. Valida se a exclusão pode ser realizada.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoOrcado",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoOrcadoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de serviço de orçamento",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/AlterarAcompanhamentoServicoContrato": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Alterar acompanhamento de serviços de contrato.",
        "description": "Definição técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de negócio:\r\nPermite consultar e portanto acompanhar os serviços que foram orçados de acordo com os parâmentros passados na requisição.\r\n1. Deve montar uma estrutura seguindo o modelo.\r\n2. Valida se o usuário é cadastrado e se tem permissão para realizar a alteração.\r\n3. Valida se o serviço é controlado por tipologia de produção.\r\n4. Valida se a quantidade a acompanhar excede o saldo a acompanhar.\r\n5. Valida se o contrato é valido para aletrações.\r\n6. Valida o prazo de validade do contrato.",
        "operationId": "AcompanhamentosServicos_AlterarAcompanhamentoServicoContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.AcompanharServicoContratoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Alterar um acompanhamento de Serviços de contrato.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoDeContrato": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de serviço de contrato.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nExclui o acompanhamento de serviço no contrato.\r\n1. Valida se o usuário tem permissão para excluir um acompanhamento.\r\n2. Valida se possui estrutura e se o status do acompanhamento está como \"aberto\". Neste caso não será excluido.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoDeContrato",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoDeContratoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de serviço de contrato",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoOrcadoEmLote": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de serviços orçado.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nPermite excluir acompanhamento de vários serviços orçados.\r\n1. Valida se a exclusão pode ser realizada.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoOrcadoEmLote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoOrcadoEmLoteRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de serviço de orçamento",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoOrcadoPorChave": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de serviço orçado por chave.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nExclui o acompanhamento de serviço oraçado de acordo com a chave informada.\r\n1. Valida se o acompanhamento informado existe.\r\n2. Valida se a exclusão pode ser realizada.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoOrcadoPorChave",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoOrcadoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de serviço de orçamento por chave",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ExcluirAcompanhamentoServicoDeContratoEmLote": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Excluir acompanhamento de serviços do contrato.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nExclui o acompanhamento de vários serviços no contrato.\r\n1. Valida se o usuário tem permissão para excluir um acompanhamento.\r\n2. Valida se possui estrutura e se o status do acompanhamento está como \"aberto\". Neste caso não será excluido.",
        "operationId": "AcompanhamentosServicos_ExcluirAcompanhamentoServicoDeContratoEmLote",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ExcluirAcompanhamentoServicoDeContratoEmLoteRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Exclusão de acompanhamento de serviço de contrato",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ConsultarAcompanhamentoContratoServicoPorServico": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar contrato de serviço por empresa e serviço.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nConsulta acompanhamento de contrato de serviço filtrando por serviço.",
        "operationId": "AcompanhamentosServicos_ConsultarAcompanhamentoContratoServicoPorServico",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "description": "Parâmetros de request da classe ConsultarAcompExecContratoPorServicoRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ConsultarAcompExecContratoPorServicoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanhamentosServicos/ConsultarAcompanhamentoContratoServicoPorContratoEServico": {
      "post": {
        "tags": [
          "AcompanhamentosServicos"
        ],
        "summary": "Acompanhar contrato de serviço por empresa, contrato e serviço.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\nDefinição de Negócio:\r\nPermite acompanhar contratos filtrando por:\r\n    - Empresa\r\n    - Contrato\r\n    - Serviço",
        "operationId": "AcompanhamentosServicos_ConsultarAcompanhamentoContratoServicoPorContratoEServico",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "req",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanhamentosServicos.ConsultarAcompExecContratoPorContratoEServicoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Método com finalidade de retornar registros de acompanhamento de contrato de serviço por empresa, contrato e um determinado serviço.",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua ação.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanharEntrega/ConsultarProcessos": {
      "post": {
        "tags": [
          "AcompanharEntrega"
        ],
        "summary": "Método com finalidade de consultar processos do acompanhamento de entrega.",
        "description": "Definição Técnica:\r\n 1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n 2. Preencher os parâmetros de request para uso do método.\r\n \r\nRegras Básicas:\r\n \r\n 1. Retorna os processos e itens que estão com o acompanhamento de entrega pendente para uma dada empresa e obra informada.",
        "operationId": "AcompanharEntrega_ConsultarProcessos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanharEntrega.ConsultarProcessosRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Consultar Processos",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UAUApi.Models.AcompanharEntrega.ProcessoDePagamentoResponse"
              }
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/AcompanharEntrega/AcompanharPreEntrega": {
      "post": {
        "tags": [
          "AcompanharEntrega"
        ],
        "summary": "Método com finalidade de acompanhar pre entrega",
        "description": "Definição Técnica:\r\n 1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n 2. Preencher os parâmetros de request para uso do método.\r\n \r\nRegras Básicas:\r\n \r\n 1. O usuário deve possuir acesso na empresa e obra informada.\r\n 2. O usuário deve possuir permissão de alteração no programa FIANALISE.\r\n 3. O número do processo deve ser um processo existente.\r\n 4. A NF e NF de frete devem ser númericos e válidos.\r\n 5. O código de barras deve ser númerico e possuir no mínimo 36 caracteres.",
        "operationId": "AcompanharEntrega_AcompanharPreEntrega",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.AcompanharEntrega.PreEntregaRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Acompanhar Pre Entrega",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UAUApi.Models.AcompanharEntrega.ProcessoDePagamentoResponse"
              }
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/AnexarArquivo": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Anexa um arquivo",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\n1. Anexa arquivo dentro do UAU, utilizando a chave identificadora para fazer o vinculo desse arquivo com algum parametro dentro do sistema. \r\n\r\nParâmetros da request\r\n1. arquivo: Conteúdo do arquivo em base 64\r\n2. nome:  Chave identificadora Do arquivo no formato \"STRING STRING\"\r\n3. caminho: Caminho do arquivo\r\n4. identificador: Nome Identificador do arquivo\r\n5. usuario: Login do usuário\r\n6. caminhoExclusivo: String correspondente a configuração em configGerais do caminho exclusivo",
        "operationId": "Anexo_AnexarArquivo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.AnexarArquivoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Anexo"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/ExcluirAnexos": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Exclui o vinculo do anexo ao arquivo.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.       \r\n\r\nParâmetros da request\r\n1. identificador: Chave identificadora do arquivo no formato \"STRING STRING\".\r\n2. nome_arquivo: Nome do arquivo + extensão. ( Exemplo: nomeDoArquivo.png )\r\n3. origem: Indica o tipo de armazenamento será utilizado para excluir o vinculo ao arquivo. Pode ser 1-Local ou 2-AWS S3. Caso não informe será obtido da configuração padrão.",
        "operationId": "Anexo_ExcluirAnexos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.ExcluirAnexosRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Operação concluída (success/partial)."
          },
          "400": {
            "description": "Requisição inválida."
          },
          "404": {
            "description": "Nenhum anexo localizado."
          },
          "500": {
            "description": "Erro ao processar a requisição."
          }
        }
      }
    },
    "/api/v{version}/Anexo/BaixarArquivos": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna um arquivo ZIP contendo os arquivos informados por caminho.",
        "description": "<b>Definição Técnica:</b>\r\n<list type=\"number\">\r\n  <item>Autenticar o usuário cliente via URI: /api/v{version}/Autenticador/AutenticarUsuario</item>\r\n  <item>Preencher os parâmetros de request para uso do método.</item>\r\n  <item>Utilizar a rota Anexo/ListaArquivoPorChave para obter os caminhos completos dos arquivos.</item>\r\n</list>\r\n<b>Parâmetros do Request:</b>\r\n<list type=\"bullet\">\r\n  <item>\r\n    CaminhoCompleto: Caminho completo do arquivo que deverá ser compactado para ZIP.</item>\r\n  <item>\r\n    Origem (Obrigatório):\r\n    <list type=\"bullet\">\r\n      <item>\r\n        1 - Caminho local / rede</item>\r\n      <item>\r\n        2 - Caminho AWS.</item>\r\n    </list>\r\n  </item>\r\n</list>",
        "operationId": "Anexo_BaixarArquivos",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "requestArquivos",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.BaixarArquivosRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/ListarDiretorios": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "",
        "description": "### DEFINIÇÕES TÉCNICAS\r\n    * Status 200 - Retorna uma lista de diretórios",
        "operationId": "Anexo_ListarDirsetorios",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "diretorio",
            "in": "body",
            "description": "Indica o nível da busca por diretório",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.DiretorioRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de diretorios",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Globaltec.UAU.Geral.AppService.Arquivos.Interfaces.IArquivo"
              }
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/AnexarBase64Imagem": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Anexa uma imagem na base64",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nPossibilita anexar imagem no formato Base64",
        "operationId": "Anexo_AnexarBase64Imagem",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.AnexarBase64ImagemRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Anexo"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/ListaArquivoPorChave": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna todos os arquivos relacionados com a chave, incluindo nome e caminho completo.",
        "description": "<b>Definição Técnica:</b>\r\n<list type=\"number\">\r\n  <item>Autenticar o usuário cliente via URI: /api/v{version}/Autenticador/AutenticarUsuario</item>\r\n  <item>Preencher os parâmetros de request para uso do método.</item>\r\n</list>\r\n<b>Parâmetros da Request:</b>\r\n<list type=\"bullet\">\r\n  <item>\r\n    chave: Identificador do arquivo.</item>\r\n  <item>\r\n    valores: Valores identificadores do arquivo.</item>\r\n</list>\r\n \r\n Para obter as chaves de utilização na requisição, utilize a rota:  \r\n Anexo/ConsultarChavesComentario",
        "operationId": "Anexo_ListaArquivoPorChave",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.ListaArquivoPorChaveRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/ListarArmazenamentos": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna a lista de armazenamentos ativos",
        "description": "",
        "operationId": "Anexo_ListarArmazenamentos",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de armazenamentos de arquivos",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Globaltec.UAU.Geral.AppService.Integracao.Armazenamento.Interfaces.ITipoArmazenamento"
              }
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/GravarComentarioAnexo": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Anexar um comentario",
        "description": "Definição técnica:\r\n- Adiciona comentário anexo de acordo com os parâmetros passados na requisição.\r\n\r\nPré requisito:\r\n- Verifique o endpoint abaixo para obter informações dos parametros de entrada aceitos:\r\n    - URL + /api/v{version}/Anexo/ConsultarChavesComentario\r\n    \r\nParâmetros da request\r\n1. Chave: Chave para consulta.\r\n2. Campos: Campos obrigatórios para a chave=\"Venda\" (empresa, obra, venda). Campos obrigatórios para a chave=\"Contrato\" (Empresa, Contrato) Deve ser inserido juntos, separados por virgula.\r\n3. Usuario: Usuário logado.\r\n4. Comentario: Comentário a ser anexado.\r\n5. TipoComentario: Armazena o tipo do comentário ( 0-Publico, 1-Privado, 2-Interna).\r\n6. UsuarioPrivado: Armazena a lista de usuários que podem visualizar o comentário. ( Rota que retorna as informações necessárias -&gt; /Usuarios/ConsultarUsuariosAtivos ).\r\n7. GrupoPrivado: Armazena a lista de grupos de usuários que podem visualizar o comentário. ( Rota que retorna as informações necessárias -&gt; /Usuarios/ConsultarGruposDeUsuario ).",
        "operationId": "Anexo_GravarComentarioAnexo",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros da request referentes a chamada do endpoint:\r\n - Chave: Chave de validação do tipo.\r\n - Campos: Parâmetros necessários de acordo com a chave.\r\n - Usuario: Usuario existente no sistema.\r\n - Comentario: Texto a ser adicionado como comentário.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.AnexarComentarioRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso",
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.ResultadoExecucao"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.ResultadoExecucao"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/RetornaArquivoEmBytes": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna um determinado arquivo em base64.",
        "description": "Em Modulo UAU &gt;&gt; Utilitários &gt;&gt; Configurações do sistema &gt;&gt; ( Em \"Arquivo\" &gt;&gt; Arquivos(Anexos): ) Esse e o caminho padrão que a rota usar na consulta para retorna o arquivo em base64.\r\n\r\n\r\nDefinição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.\r\n\r\nParâmetros da request\r\n1. nome_arquivo: Nome do arquivo + extensão. ( Exemplo: nomeDoArquivo.png )\r\n2. origem: Indica o tipo de armazenamento será utilizado para buscar o arquivo. Pode ser 1-Local ou 2-AWS S3. Caso não informe será obtido da configuração padrão.",
        "operationId": "Anexo_RetornaArquivoEmBytes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.RetornaArquivoEmBytesRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Arquivo em bytes"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/ConsultarChavesComentario": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna as chaves, seus campos e exemplo, que podem ser utilizadas para gravação de comentario em anexo.",
        "description": "Definição técnica:\r\n- Este endpoint oferece suporte para o seguinte endpoint: [URI + /api/v{version}/Anexo/GravarComentarioAnexo]\r\n- Retorna objetos com:\r\n    - Possíveis chaves que podem ser utilizadas.\r\n    - Ordem dos parâmetros aceitos.\r\n    - Exemplo de utilização e formatação dos parâmetros.\r\n Anexos:\r\n- Exemplo Postman: https://ajuda.globaltec.com.br/download/777152/",
        "operationId": "Anexo_ConsultarChavesComentario",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso",
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.ResultadoExecucao"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/AnexarArquivosBase64Request": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Anexa um arquivo",
        "description": "Criação   : Diogo Rodrigues Gonçalves             Data: 11/12/2018\r\nProjeto   : FVS Mobile",
        "operationId": "Anexo_AnexarArquivosBase64Request",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe AnexarArquivoRequest\r\n - arquivo: deve estar no formato Base64 sem os prefixos\r\n - nome: nome do arquivo\r\n - caminho: caminho do arquivo\r\n - identificador: chave identificadora do arquivo no formato \"STRING STRING\"\r\n - usuario: login do usuário\r\n - extensao: extensao da imagem. ex: 'png' ou 'jpeg', etc\r\n - caminhoExclusivo (Opcional): string correspondente a configuração em configgerais do caminho exclusivo",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.AnexarArquivosBase64Request"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Anexo"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Anexo/RetornarArquivosEmListaBytes": {
      "post": {
        "tags": [
          "Anexo"
        ],
        "summary": "Retorna uma lista com os dados dos arquivos e o conteúdo do mesmo em base64.",
        "description": "Baseado no ‘’código identificador do documento’’ passado ele já retorna os arquivos tanto disponível localmente e na nuvem, sem a necessidade de passar o parâmetro “origem” no body do request.\r\n        \r\n\r\nDefinição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.       \r\n\r\nParâmetros da request\r\n1. empresa: Número da empresa.\r\n2. identificador: Chave identificadora do arquivo no formato \"STRING STRING\".\r\n3. listanomes_arquivos:  Lista de 'string' com o nome do arquivo + extensão. ( Exemplo: nomeDoArquivo.png )",
        "operationId": "Anexo_RetornarArquivosEmListaBytes",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Anexo.RetornarArquivosEmListaBytesRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista com os dados dos arquivos e o conteúdo do mesmo em base64.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Globaltec.UAU.Comp.GerAnexo.EstruturaAnexo"
              }
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/GerarPendencia": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Criar uma pendência do UAU com as informações informada",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_GerarPendencia",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe GerarPendenciaRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.GerarPendenciaRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso",
            "schema": {
              "$ref": "#/definitions/Globaltec.UAU.Comp.ResultadoExecucao"
            }
          },
          "400": {
            "description": "Não foi possível realizar a ação. Verifique os parâmetros da requisição/acesso à internet.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar a ação. Entre em contato com o administrador do sistema",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/GravarAtendimento": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Gravar atendimento no Uau.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Consultar os dados do usuário logado para obter o código do cliente URI + /api/v{version}/Atendimento/GravarAtendimento\r\n3. Preencher os parâmetros de request para uso do método.\r\n\r\nDefinição de Negócio:\r\nPermite Gravar o Atendimento.\r\n1. Deve montar uma estrutura com as informações do Atendimento verificando os parâmetros obrigatórios.\r\n2. Será apenas registrado Atendimentos com o status [0 - Em Aberto].\r\n3. Caso não seja informado: usrrespon_atd, numccm_atd e usrcad_atd, será obrigatório ter configurado o serviço atendimento uauweb no CRM. CRM - Utilitários - Configurações de serviço\r\n4. Para informar a unidade do atendimento é obrigatório informar a empresa, obra e produto. Caso não informe a empresa, vamos desconsiderar essa informação e gravar o atendimento.\r\n\r\nVirtUau:\r\n- https://ajuda.globaltec.com.br/virtuau/configuracao-de-atendimento-do-uau-web/",
        "operationId": "Atendimento_GravarAtendimento",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros da requisição",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.GravarAtendimentoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "400": {
            "description": "Não foi possível realizar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarPendencia": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consulta as pendências",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarPendencia",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe AtendimentoController",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarPendenciaRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.Pendencia"
            }
          },
          "400": {
            "description": "O número da pendência é obrigatório! - O responsável pela resolução da pendência é obrigatório.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarAtendimento": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Método que consulta atendimento.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarAtendimento",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros da requisição.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarAtendimentoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarCategDeComentAtivas": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consulta as categorias de comentários ativas.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarCategDeComentAtivas",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarPendenciaObservacao": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consulta as etapas (pendências).",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarPendenciaObservacao",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros da requisição.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarPendenciaObservacaoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/VincularArquivoAoAtendimento": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Vincular arquivo ao atendimento.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_VincularArquivoAoAtendimento",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe AtendimentoController",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.VincularArquivoAoAtendimentoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Anexo vinculado com sucesso!"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarAtendimentoPorPessoa": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Realiza consulta de atendimentos do cliente independente de categorias configuradas para o Uau Web.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarAtendimentoPorPessoa",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros da Requisição.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarAtendimentoPorPessoaRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Atendimento"
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarEmpreendimentosCliente": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consultar todos os empreendimentos do cliente do qual ele é titular da venda.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarEmpreendimentosCliente",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe AtendimentoController",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarEmpreendimentosClienteRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarCategoriaAtendimentoWeb": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consulta as categorias de atendimento web.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarCategoriaAtendimentoWeb",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "Parâmetros da Requisição.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarCategoriaAtendimentoWebRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "type": "object"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
            "schema": {
              "$ref": "#/definitions/UAUApi.ResponseHandler"
            }
          }
        }
      }
    },
    "/api/v{version}/Atendimento/ConsultarNumeroWorkFlowVinculado": {
      "post": {
        "tags": [
          "Atendimento"
        ],
        "summary": "Consulta o número do workflow vinculado.",
        "description": "Definição Técnica:\r\n1. Autenticar o usuário cliente URI + /api/v{version}/Autenticador/AutenticarUsuario\r\n2. Preencher os parâmetros de request para uso do método.",
        "operationId": "Atendimento_ConsultarNumeroWorkFlowVinculado",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "description": "parâmetros de request da classe AtendimentoController",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UAUApi.Models.Atendimento.ConsultarNumeroWorkFlowVinculadoRequest"
            }
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "Token Authentication",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-INTEGRATION-Authorization",
            "in": "header",
            "description": "Token De Integração",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Requisição realizada com sucesso.",
            "schema": {
              "format": "int32",
              "type": "integer"
            }
          },
          "500": {
            "description": "Ocorreu um erro ao processar sua requisição.",
[...]
